## Visual Studio and .NET GitIgnore
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings
launchSettings.json.user
appsettings.Production.json

# Visual Studio Code
.vscode/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db
